html,
body {
  margin: 0;
  padding: 0;
}
#containerDiv {
  display: flex;
  flex-direction: column;
  background-color: #b8b8b8;
  padding: 20px 20px;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo p {
  font-size: larger;
  border: 0;
  margin: 0;
}

#add {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.ashish {
  width: 100%;
  color: gray;
  margin-right: 5px;
}
#add button {
  width: 40px;
  margin-left: 5px;
}
